<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application ...>
        <dubbo:parameter key="shutdown.timeout" value="60000" /> <!-- 单位:毫秒 -->
    </dubbo:application>
    
    <dubbo:monitor protocol="registry" />

    <!-- 消费方应用信息 -->
    <dubbo:application name="template-dubbo-service-provider" />

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${zookeeper.host}" />

    <!-- dubbo服务暴露端口 -->
    <dubbo:protocol name="dubbo" port="20880"/>

    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="com.firebugsoft.template.dubbo.api.IUserService" ref="userService" timeout="0" retries="1"/>
</beans>